{:com.darklimericks.logging/logging
 {:min-level :debug}

 :com.darklimericks.server.core/server
 {:port 8000 :handler #ig/ref :com.darklimericks.server.handlers/handler}

 :com.darklimericks.server.worker/limerick-gen
 {:kv #ig/ref :com.darklimericks.kv.core/connection
  :db #ig/ref :com.darklimericks.db.core/connection}

 :com.darklimericks.kv.core/connection
 {:pool {}
  :spec {:uri ""}}

 :com.darklimericks.db.core/connection {}

 :com.darklimericks.server.router/router
 {:db #ig/ref :com.darklimericks.db.core/connection}

 :com.darklimericks.server.handlers/handler
 {:router #ig/ref :com.darklimericks.server.router/router}}
