;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[metasoarous/oz "1.6.0-alpha34"]
  [cljs-ajax/cljs-ajax "0.8.3"]]

 :builds
 {:frontend
  {:target :browser
   :output-dir "../resources/public/wgu/"
   :assets-path "/assets/"
   :modules {:main {:init-fn wgu.app/init}}}}}
