;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:frontend
  {:target :browser
   :output-dir "/home/eihli/src/darklimericks/web/resources/public/wgu/"
   :assets-path "/assets/"
   :modules {:main {:init-fn wgu.app/init}}}}}
