defaults
       timeout connect 30s
       timeout client 60s
       timeout server 120s
       mode http

frontend http-in
       bind :80
       bind *:443 ssl crt /etc/ssl/cert.pem
       redirect scheme https if !{ ssl_fc }
       default_backend app

backend app
       server darklimericks darklimericks:8000
