{:app/logging {:min-level :debug}
 :app/server {:port 8000 :handler #ig/ref :app/handler}
 :app/cache {}
 :worker/limerick-gen {:kv #ig/ref :database.kv/connection
                       :db #ig/ref :database.sql/connection}
 :database.kv/connection {:pool {}
                          :spec {:uri ""}}
 :database.sql/connection {}
 :app/router {:db #ig/ref :database.sql/connection :cache #ig/ref :app/cache}
 :app/handler {:router #ig/ref :app/router}}
